n8n/webhook_retry_dlq.json
{
  "meta": {
    "instanceId": "callwaiting-ai-production"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-retry",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "webhook-retry-dlq"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equal",
              "value2": "webhook_failed"
            }
          ]
        }
      },
      "id": "check-event-type",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json.original_webhook_url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Retry-Attempt",
              "value": "={{$json.retry_count}}"
            },
            {
              "name": "X-Original-Timestamp",
              "value": "={{$json.original_timestamp}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{$json.payload}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "retry-webhook",
      "name": "Retry Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.retry_count}}",
              "operation": "smallerEqual",
              "value2": 3
            }
          ]
        }
      },
      "id": "check-retry-count",
      "name": "Check Retry Count",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/webhooks/dlq",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ {\n  \"event_id\": $json.event_id,\n  \"webhook_url\": $json.original_webhook_url,\n  \"payload\": $json.payload,\n  \"retry_count\": $json.retry_count,\n  \"last_error\": $json.last_error,\n  \"failed_at\": new Date().toISOString(),\n  \"reason\": \"max_retries_exceeded\"\n} }}",
        "options": {}
      },
      "id": "send-to-dlq",
      "name": "Send to DLQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/notifications/email/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ {\n  \"to\": \"alerts@callwaitingai.com\",\n  \"subject\": \"Webhook Failed - DLQ Alert\",\n  \"html\": `<h2>Webhook Failed After Retries</h2>\n           <p><strong>Event ID:</strong> ${$json.event_id}</p>\n           <p><strong>Webhook URL:</strong> ${$json.original_webhook_url}</p>\n           <p><strong>Retry Count:</strong> ${$json.retry_count}</p>\n           <p><strong>Last Error:</strong> ${$json.last_error}</p>\n           <p><strong>Failed At:</strong> ${new Date().toISOString()}</p>\n           <p>Please investigate and manually process if necessary.</p>`,\n  \"type\": \"dlq_alert\"\n} }}",
        "options": {}
      },
      "id": "alert-team",
      "name": "Alert Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-before-retry",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        680,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ {\n  \"type\": \"webhook_retry_success\",\n  \"ref_id\": $json.event_id,\n  \"request_id\": \"n8n-retry-\" + Date.now(),\n  \"payload\": {\n    \"webhook_url\": $json.original_webhook_url,\n    \"retry_count\": $json.retry_count,\n    \"success\": true\n  },\n  \"created_at\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={{ {\n  \"type\": \"webhook_retry_failed\",\n  \"ref_id\": $json.event_id,\n  \"request_id\": \"n8n-retry-\" + Date.now(),\n  \"payload\": {\n    \"webhook_url\": $json.original_webhook_url,\n    \"retry_count\": $json.retry_count,\n    \"error\": $json.error,\n    \"will_retry\": $json.retry_count < 3\n  },\n  \"created_at\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Check Retry Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Retry Count": {
      "main": [
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to DLQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Retry Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Webhook": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to DLQ": {
      "main": [
        [
          {
            "node": "Alert Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T12:00:00.000Z",
  "versionId": "webhook-retry-v1"
}



